In [1]:
import pandas as pd

In [2]:
data = "Rev/ecom_data.csv"

In [3]:
df = pd.read_csv("ecom_data.csv")
df

,SalesOrder,SKU,Description,UnitPrice,CustomerID,Channel,State,InvoiceDay,Sales,Quantity
0,580636,22474,SPACEBOY TV DINNER TRAY,1.95,16746.0,Mailing,IL,2011-12-05,31.20,16.0
1,581426,70006,LOVE HEART POCKET WARMER,0.79,17757.0,Organic Social,WA,2011-12-08,2.37,3.0
2,575063,22697,GREEN REGENCY TEACUP AND SAUCER,2.95,16764.0,Display,TX,2011-11-08,8.85,3.0
3,544065,20726,LUNCH BAG WOODLAND,1.65,14346.0,Organic Social,TX,2011-02-15,13.20,8.0
4,568896,85049E,SCANDINAVIAN REDS RIBBONS,1.25,16361.0,Store,NY,2011-09-29,52.50,42.0
...,...,...,...,...,...,...,...,...,...,...
406824,573774,85099F,JUMBO BAG STRAWBERRY,1.74,16029.0,Store,NM,2011-11-01,1485.96,854.0
406825,573361,23263,SET OF 3 WOODEN HEART DECORATIONS,1.25,14456.0,Email,OH,2011-10-30,7.50,6.0
406826,565748,22739,RIBBON REEL CHRISTMAS SOCK BAUBLE,1.65,14156.0,Email,GA,2011-09-06,33.00,20.0
406827,577504,21733,RED HANGING HEART T-LIGHT HOLDER,2.95,14159.0,SEO,NY,2011-11-20,88.50,30.0
406828,554085,23208,LUNCH BAG VINTAGE LEAF DESIGN,1.65,16945.0,Organic Social,NC,2011-05-22,13.20,8.0

In [ ]:
#PROJECT = 'YOUR-PROJECT-HERE'
#DATASET = 'nyc_real_estate'
#TABLE = 'residential_sales'
#dfr.to_gbq('{}.{}'.format(DATASET, TABLE), PROJECT)

In [ ]:
#import time_series
#WINDOW_SIZE = 52  # Weeks.
#HORIZON = 4*6 # Predict approximately 6 months into the future.
#LABELS_SIZE = 1  # The label will be the price for one week
#df = time_series.create_rolling_features_label(sales, window_size=WINDOW_SIZE, pred_offset=HORIZON)

# Add date features: year, day of year, month, etc.
#df = time_series.add_date_features(df, df.index)

In [4]:
df.isnull().sum()

SalesOrder     0
SKU            0
Description    0
UnitPrice      0
CustomerID     0
Channel        0
State          0
InvoiceDay     0
Sales          0
Quantity       0
dtype: int64

In [5]:
df["CustomerID"].nunique()

4325

In [10]:
customer_id = df.groupby(["CustomerID"]).rolling(90).count()["SalesOrder"]
customer_id

CustomerID
12346.0      1
12347.0    186
12348.0     44
12349.0     54
12350.0     19
          ...
18280.0      8
18281.0      5
18282.0     13
18283.0    793
18287.0     65
Name: SalesOrder, Length: 4325, dtype: int64

In [ ]:
#df = df.set_index(["CustomerID"])
#per_school_types = school_data_df.set_index(["CustomerID"])["type"]
#df

In [7]:
customer_id

In [ ]:
sales = df["Sales"] >= 0.00
#passing_math = school_data_complete_df["math_score"] >= 70
sales

In [ ]:
sales_df = df[df["Sales"] >= 0.00]
sales_df.head()

In [ ]:
sales_count = df["Sales"].count()
sales_count